body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.align{
    text-align: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.container_log {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}


#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    text-align: start; 
    margin-bottom: 10px;
    padding: 8px;
    font-family: 'Georgia', 'Times', sans-serif;
    color: rgb(1, 116, 120);
}

label {
    margin-bottom: 5px; 
    margin-top: 10px;
    font-size: 18px;
}

button {
    margin: 0.001px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 151, 157, 0.9);
    color: rgba(255, 255, 255);
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(4, 133, 137);
}

/*Init Emergy buttom*/
buttonE {
    margin: 0.001px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color:red;
    color: rgba(255, 255, 255);
    transition: background-color 0.3s;
}

buttonE:hover {
    background-color: rgb(183, 0, 0);
}
/*End Emergy buttom*/

#controller {
    width: 300px;
    height: 200px;
    background-color: lightgray;
    margin: 20px auto;
}

#zone_joystick {
    width: 100px;
    height: 100px;
    margin: auto;
}

.alert {
    background-color: red;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.italic-text {
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

.alarm {
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.larger-text {
    font-size: 60px;
    font-family: 'Georgia', 'Times', sans-serif;
    color: rgba(0, 151, 157, 0.64);
    margin-top: 10px;
    margin-bottom: 10px; 
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px; 
}

.logout-b{
    background-color: rgb(120, 120, 120, 0.7);
    color: whitesmoke;
}


.controller-image {
    text-align: center; 
    max-width: 100%; 
    height: auto; 
    max-height: 250px; 
}

.controller-image-sm {
    text-align: center; 
    max-width: 100%; 
    height: auto; 
    max-height: 400px; 
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.blinking {
    animation: blink 1.5s infinite;
}

/* Tab settings */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 151, 157, 0.8);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center; 
}

li {
    /* float: left; */
}

li a {
    display: block;
    color: white;
    text-align: center;
    align-items: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    padding: 30px;            
}

li a:hover {
    background-color: rgba(4, 133, 137, 0.74); /*ao tocar*/
}

.tab-content {
    display: none;
}

#menu {
    display: block;
    position: relative;
}

/* End tab settings */


/* Terminal settings */

#terminal {
    max-height: 400px; 
    max-width: 500px;
    overflow: auto; 
    padding: 10px;
}

/* End terminal settings */

.hidden {
    display: none;
}

/* Battery config init */

#batteryIcon {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 50px;
    height: 24px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#batteryLevel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #d3d3d3;
    transition: background-color 0.5s ease;
}

#batteryVisual {
    position: absolute;
    top: 25%;
    right: -7px;
    /* display: inline-block; */
    width: 4px;
    height: 40%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 0 11px 11px 0;
}


#batteryLevel.battery-low {
    background-color: #ff0000; /* roge pour <= 15% */
}

#batteryLevel.battery-medium {
    background-color: #ffcc00; /* jaune pour 16% - 25% */
}

#batteryLevel.battery-normal {
    background-color: #d3d3d3; /* gray pour 26% - 80% */
}

#batteryLevel.battery-high {
    background-color: #00cc00; /* verd pour 81% - 100% */
}


#batteryText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 0.6rem;
    font-weight: bold;
}

/* Battery config end */


/* Sate machine config int */

.state-machine {
    position: relative;
    left: 30%;
    width: 250px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%; /* Adicionando margem superior para separar de .corner-box */
}


.state {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #3498db; /* Cor padrão dos estados */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    transition: transform 0.3s, width 0.3s, height 0.3s, left 0.3s, top 0.3s; /* Adicionado left e top na transição */
}

.state:hover {
    transform: scale(1.2);
    width: 110px;
    height: 110px;
}

.state.active {
    background-color: #2ecc71 !important;
}

.state.previous {
    background-color: #2ecc71 !important;
    opacity: 0.5 !important;
}

.state.unavailable {
    background-color: #bdc3c7;
}

.state.available {
    background-color: #3498db; /* Cor do estado anterior */
}

.state#security {
    background-color: #bdc3c7;
}

#stop { left: 0; top: 0; }
#tracking { left: 100px; top: 0; }
#autonomous { left: 200px; top: 0; }
#manual { left: 0; top: 100px; }
#security { left: 100px; top: 100px; }
#idle { left: 200px; top: 100px; }

.state-name {
    margin-top: 5px;
    text-align: center;
}

.corner-box {
    display: flex;
    align-items: right;
    margin: 1%;
    margin-top: 0.5%; /* Removendo a margem superior para posicionar na parte superior da tela */
}


.box {
    
    background-color:#3498db;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.box2 {
    
    background-color: #2ecc71; /* Cor do estado anterior */
    opacity: 0.5; 
    width: 20px;
    height: 20px;
    margin-right: 5px;

}

.box3 {
    
    background-color: #2ecc71; /* Cor do estado anterior */
    width: 20px;
    height: 20px;
    margin-right: 5px;

}

/* state machine end */

#muteButton {
    position: fixed;
    top: 10px;
    left: 10px; 
}