# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Rep created during compilation 
raspberryPI3/ros2_ws/log/
raspberryPI3/ros2_ws/build/
raspberryPI3/ros2_ws/install/

*.vscode

