# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Rep created during compilation 
raspberryPI3/ros2_ws/log/
raspberryPI3/ros2_ws/build/
raspberryPI3/ros2_ws/install/

jetsonNano/ros2_ws/log/
jetsonNano/ros2_ws/build/
jetsonNano/ros2_ws/install/

*.vscode

raspberryPI3/static2/site/generatehash.py
raspberryPI3/static2/site/webserver.py
raspberryPI3/static3/site/node_modules/
raspberryPI3/static3/site/package.json
raspberryPI3/static3/site/package-lock.json
